<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
    <script src="../js/index.js"></script>
</head>
<body>
    <div>
        <h1>Prueba inicial</h1>
    </div>   
    <br />
    <div>
        <label>Nombre:</label>
        <input type="text"  id="idText"/>
        <button id="enviar" onclick="javascript: objIndex.enviar();">Enviar</button>
        <div id="id_div"></div>
    </div>
  
</body>
</html>
